[styling]
scale = 0.90

[bar]
scale = 0.82
padding = 0.18
padding-ends = 0.30
module-gap = 0.25
button-icon-size = 0.85
button-icon-padding = 0.55
button-label-size = 0.85
button-label-padding = 0.55
button-gap = 0.45
button-group-module-gap = 0.15
