PATH={{ primary_home }}/.local/bin:{{ primary_home }}/.npm-global/bin:{{ primary_home }}/Android/Sdk/platform-tools:{{ primary_home }}/Android/Sdk/cmdline-tools/latest/bin:/usr/local/bin:/usr/bin
ANDROID_HOME={{ primary_home }}/Android/Sdk
ANDROID_SDK_ROOT={{ primary_home }}/Android/Sdk
EDITOR=nvim
VISUAL=nvim
BROWSER=google-chrome-stable
TERMINAL=kitty
MOZ_ENABLE_WAYLAND=1
QT_QPA_PLATFORM=wayland
GTK_THEME=adw-gtk3-dark
RUSTC_WRAPPER=sccache
CARGO_INCREMENTAL=0
SCCACHE_DIR={{ primary_home }}/.cache/sccache
