LANG={{ machine_locale }}
LC_ADDRESS={{ regional_locale }}
LC_IDENTIFICATION={{ regional_locale }}
LC_MEASUREMENT={{ regional_locale }}
LC_MONETARY={{ regional_locale }}
LC_NAME={{ regional_locale }}
LC_NUMERIC={{ regional_locale }}
LC_PAPER={{ regional_locale }}
LC_TELEPHONE={{ regional_locale }}
LC_TIME={{ regional_locale }}
