[Unit]
Description=Hyprland idle manager
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hypridle --config {{ primary_home }}/.config/hypr/hypridle.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=hyprland-session.target
