[Desktop Entry]
Name=1Password
Exec=/usr/bin/1password --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland %U
Icon=1password
Terminal=false
Type=Application
Categories=Office;Security;
