[Desktop Entry]
Name=Dev Fedora
Exec=kitty -e /home/john/.local/bin/dev-fedora-shell
Icon=fedora-logo-icon
Categories=Development;System;
Terminal=false
Type=Application
