[Desktop Entry]
Name=Share Clipboard
Exec=/home/john/.local/bin/localsend-share clipboard
Icon=localsend
Terminal=false
Type=Application
Categories=Utility;
