[Desktop Entry]
Name=Share Folder
Exec=kitty -e /home/john/.local/bin/localsend-share folder
Icon=localsend
Terminal=false
Type=Application
Categories=Utility;
