[Desktop Entry]
Name=Share File
Exec=kitty -e /home/john/.local/bin/localsend-share file
Icon=localsend
Terminal=false
Type=Application
Categories=Utility;
